{% extends 'home.html' %}
{% load static %}
{% block title %} Playlist {% endblock %}

<body>
  {% block content %}
  <section class="flexbox">
    
     <div class = "container3">
     <img class = "pinksquare" src = "{% static '/images/walking.png'%}"></p>
    </div>
    
     <div class = "topo">
     <!-- O nome será diferente p/ cada playlist-->
     <p class = "playlistNome">Nome_playlist</p>
     <!-- A duração será diferente p/ cada playlist-->
     <p class = "Duracao">Duração</p>
     <!-- A descrição será diferente p/ cada playlist-->
     </div>

     <div class = "descr">
     <p>Descrição</p>
     </div>
    
    <button class = "button button5">Adicionar música</button>
    
  </section>

    <br>
    <br>
     <!-- O conjunto de musicas será diferente p/ cada playlist-->
    <table id = 't01' style="width:100%">
        <tr>
          <th></th>
          <th>Título</th>
          <th>Compositores</th>
          <th>Intérpretes</th>
          <th>Álbum</th>
          <th>Tipo de Composição</th>
          <th>Tempo</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a>nome_musica</td> </a>
          <td>compositores</td>
          <td>interpretes</td>
          <td>nome_album</td>
          <td>tipo_composiçao</td>
          <td>tempo_musica</td>
          <td><button class = " button2">x</button></td>
      </table>
    

    {% endblock %}


</body>
