{% extends 'home.html' %}
{% load static %}
{% block title %} Playlist {{playInd.nome}} {% endblock %}

<body>
  {% block content %}

 <div style = "display: flex; flex-direction: row; justify-content: space-between;">
  <div class="card mb-3 stylecard" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/walking.png'%}" class=" img-fluid styleimage" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{playInd.nome}}</h5>
          <p class="card-text">{{playInd.descricao}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <button class = "button button5">Adicionar música</button>
  </div>


   <br>
     <!-- O conjunto de musicas será diferente p/ cada playlist-->
    <table id = 't01' style="width:100%">
        <tr>
          <th></th>
          <th>Título</th>
          <th>Compositores</th>
          <th>Intérpretes</th>
          <th>Álbum</th>
          <th>Tipo de Composição</th>
          <th>Tempo</th>
        </tr>

        <tr>
          <td>1</td>
          <td><a>nome_musica</td> </a>
          <td>compositores</td>
          <td>interpretes</td>
          <td>nome_album</td>
          <td>tipo_composiçao</td>
          <td>tempo_musica</td>  
          <td><button class = " button2">x</button></td>
      </table>
    

    {% endblock %}


</body>


