{% extends 'home.html' %}
{% load static %}
{% block title %} Seus Álbuns {% endblock %}

  
    <head>
        
    </head>
  
    <body>
        {% block content %}
    <br>
    <br>
    <table id = 't01' style="width:100%">
          <tr>
          <th></th>
          <th>Nome</th>
          <th>Gravadora</th>
          <th>Data de gravação</th>
          <th>Preço de compra</th>
          <th>Data de compra</th>
          <th>Tipo de compra</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a href="{% url 'fullAlbum' %}">Album1</td></a>
          <td>Gravadora1</td>
          <td>Data gravaçao</td>
          <td>Reais</td>
          <td>Data compra</td>
          <td>Virtual</td>

        </tr>
      </table>
    
    
    {% endblock %}


    </body>


