{% extends 'home.html' %}
{% load static %}
{% block title %} Seus Álbuns {% endblock %}

  
  
    {% block content %}
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Gravadora</th>
          <th scope="col">Data de gravação</th>
          <th scope="col">Preço de compra</th>
          <th scope="col">Data de compra</th>
          <th scope="col">Tipo de compra</th>


          
         
        </tr>
      </thead>
      <tbody>
        {% for a in listagemAlbum %}
        <tr>
          <th scope="row">{{a.cod}}</th>
          <td><a href="{% url 'fullAlbum' id=a.cod %}">{{a.nome}}</a></td> 
          <td><a href="{% url 'fullAlbum' id=a.cod %}">{{a.cod_gravadora}}</a></td>
          <td><a href="{% url 'fullAlbum' id=a.cod %}">{{a.data_gravacao}}</a></td>
          <td><a href="{% url 'fullAlbum' id=a.cod %}">{{a.preco_compra}}</a></td> 
          <td><a href="{% url 'fullAlbum' id=a.cod %}">{{a.data_compra}}</a></td> 
          <td><a href="{% url 'fullAlbum' id=a.cod %}"></a>{{a.tipo_compra}}</a></td> 

        </tr>
        {% endfor %}
        

      </tbody>
    </table>
    
    
    {% endblock %}


    


