{% extends 'home.html' %}
{% load static %}
{% block title %} Álbum {{fullAlb.nome}} {% endblock %}

  {% block content %}
<body>
      <script>
        function updateModal(id) {
          document.getElementById("id_faixa").value = id;
        }

        function saveSong(id) {
          document.getElementById("id_playlist").value = id;
          document.getElementById("addmusica").submit();
        }
      </script>

      <div class="card mb-3 stylecard" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static '/images/pet.png'%}" class=" img-fluid styleimage" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{fullAlb.nome}}</h5>
              <p class="card-text">{{fullAlb.num_musicas}} músicas,{{fullAlb.tempo_total}}min. </p>

            </div>
          </div>
        </div>
      </div>
    
       <!-- O conjunto de musicas será diferente p/ cada playlist-->
       <br>
       <br>
       <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col"></th>
             <th scope="col">Título</th>
             <th scope="col">Compositores</th>
             <th scope="col">Intérpretes</th>
             <th scope="col">Álbum</th>
             <th scope="col">Tipo de Composição</th>
             <th scope="col">Tempo</th>
             <th scope = "col"></th>
           </tr>
         </thead>
         <tbody>
           {% for f in faiAlb %}
           <tr>
             <th scope="row">{{f.id_faixa_album}}</th>
             <td>{{f.nome}}</td> 
             <td>{{f.nome_compositor}}</td>
             <td>{{f.nome_interprete}}</td>
             <td>{{f.album}}</td>
             <td>{{f.nome_composicao}}</td>
             <td>{{f.duracao}}</td>
             <td><button type="button" class="button6" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="updateModal('{{f.id}}')">
              +
              </button></td>
  
           </tr>
           {% endfor %}
         </tbody>
       
        </table>
        <form method="post" id ="addmusica">
          {% csrf_token %}
          <input type="hidden" id="id_playlist" name="id_playlist"/>
          <input type="hidden" id="id_faixa" name="id_faixa"/>
        </form>

        <!-- Modal-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar a playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
               <thead>
                 <tr>
                   <th scope="col"></th>
                   <th scope="col">Nome</th>
                   <th scope="col">Músicas</th>
                   <th scope="col">Data criação</th>
                   <th scope="col"></th>
                 </tr>
               </thead>
               <tbody>
                 
                 {% for p in playAlb %}
                 
                 <tr>
                   <th scope="row">{{p.id}}</th>
                   <td>{{p.nome}}</td> 
                   <td>{{p.num_musicas}}</td>
                   <td>{{p.data_criacao}}</td>
                  
                   <td><button class = "button6"  formmethod = "post" onclick="saveSong('{{p.id}}')">+</button></td>
                 </tr>
                 {% endfor %}
                 
         
               </tbody>
             
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn button7" onClick = "window.location.reload();">Salvar mudanças</button>
            </div>
          </div>
        </div>
      </div>
        </div>
  
      {% endblock %}
  
  
  </body>
  