{% extends 'home.html' %}
{% load static %}
{% block title %} Álbum {{fullAlb.nome}} {% endblock %}


<body>
    {% block content %}
      <div class="card mb-3 stylecard" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static '/images/pet.png'%}" class=" img-fluid styleimage" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{fullAlb.nome}}</h5>
              <p class="card-text">{{fullAlb.duracao}}</p>
            </div>
          </div>
        </div>
      </div>
    
       <!-- O conjunto de musicas será diferente p/ cada playlist-->
       <br>
       <br>
       <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col"></th>
             <th scope="col">Título</th>
             <th scope="col">Compositores</th>
             <th scope="col">Intérpretes</th>
             <th scope="col">Álbum</th>
             <th scope="col">Tipo de Composição</th>
             <th scope="col">Tempo</th>
           </tr>
         </thead>
         <tbody>
           {% for f in faiAlb %}
           <tr>
             <th scope="row">{{f.id_faixa_album}}</th>
             <td>{{f.nome}}</td> 
             <td>{{f.nome_compositor}}</td>
             <td>{{f.nome_interprete}}</td>
             <td>{{f.album}}</td>
             <td>{{f.nome_composicao}}</td>
             <td>{{f.duracao}}</td>
  
           </tr>
           {% endfor %}

   
         </tbody>
       
        </table>
  
      {% endblock %}
  
  
  </body>
  