{% extends 'home.html' %}
{% load static %}
{% block title %} Nova Playlist {% endblock %}


<html lang = "en">
    <head>
    </head>


    <body>
    {% block content %}
    <br>
    <br>
    <br>
    <form action = "/playlist" method = "post">{% csrf_token %}
    <div class = "inputs">
        <h1 class = "inputtitle">Criar nova playlist</h1>
        <label for "playlist" class = "input1title">Nome </label>
        <input id = "playlist" type = "text" name = "playlist" maxlength="30" size="30"  value ="{{criaPlaylist.nome}}">{% csrf_token %}
        <br>
        <br>
        <label for "playlist" class = "input1title">Descrição</label>
        <input id = "playlist" type = "text" name = "playlist" maxlength="50" size="30"  form = "form" value ="{{criaPlaylist.descricao}}">{% csrf_token %}
        <br>
    <br>
        <button class = "button button1" input type = "submit" name = "foo" value = "criar" >Criar</button>
    </form>
    {% endblock %}

    
        
    </body>
</html>

