{% extends 'home.html' %}
{% load static %}
{% block title %} Suas Playlists {% endblock %}

<html lang = "en">
    <head>
    </head>

    <body>
    {% block content %}
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Músicas</th>
          <th scope="col">Data de criação</th>
        </tr>
      </thead>
      <tbody>
        {% for p in listaPlaylist %}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td><a href="{% url 'playlistIndividual' id=p.id %}">{{p.nome}}</a></td> 
          <td><a href="{% url 'playlistIndividual' id=p.id %}">Número de músicas</a></td>
          <td><a href="{% url 'playlistIndividual' id=p.id %}">{{p.data_criacao}}</a></td>
        </tr>
        {% endfor %}
        

      </tbody>
    </table>
    
    
    {% endblock %}

    
        
    </body>
</html>

