{% extends 'home.html' %}
{% load static %}
{% block title %} Playlist {{playInd.nome}} {% endblock %}

<body>
  {% block content %}

 <div style = "display: flex; flex-direction: row; justify-content: space-between;">
  <div class="card mb-3 stylecard" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/walking.png'%}" class=" img-fluid styleimage" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{playInd.nome}}</h5>
          <p class="card-text">{{playInd.descricao}}</p>
          <p class="card-text"><small class="text-muted">{{playInd.quant}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn  button5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Adicionar Músicas
  </button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Faixas disponíveis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col"></th>
           <th scope="col">Título</th>
           <th scope="col">Compositores</th>
           <th scope="col">Intérpretes</th>
           <th scope="col">Álbum</th>
           <th scope="col">Tipo de Composição</th>
           <th scope="col">Tempo</th>
           <th scope="col"></th>
         </tr>
       </thead>
       <tbody>
         <form action="localhost:5000/faixaplaylist/id" method="post">
         {% for f in faiLista %}
         <tr>
           <th scope="row">{{f.id}}</th>
           <td>{{f.nome}}</td> 
           <td>{{f.nome_compositor}}</td>
           <td>{{f.nome_interprete}}</td>
           <td>{{f.album}}</td>
           <td>{{f.tipo_composicao}}</a></td>
           <td>{{f.duracao}}</td>
           <td><button class = " button6" type = "submit" formmethod = "post">+</button></td>
          </form>
         </tr>
         {% endfor %}
         
 
       </tbody>
     
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn button7" onClick = "window.location.reload();">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
  </div>


     <!-- O conjunto de musicas será diferente p/ cada playlist-->
     <br>
     <br>
     <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col"></th>
           <th scope="col">Título</th>
           <th scope="col">Compositores</th>
           <th scope="col">Intérpretes</th>
           <th scope="col">Álbum</th>
           <th scope="col">Tipo de Composição</th>
           <th scope="col">Tempo</th>
           <th scope="col"></th>
         </tr>
       </thead>
       <tbody>
         {% for m in faiPlay %} 
         <tr>
           <th scope="row">{{m.id_playlist}}</th>
           <td>{{m.nome_musica}}</a></td> 
           <td>{{m.nome_compositor}}</a></td>
           <td>{{m.nome_interprete}}</a></td>
           <td>{{m.nome_album}}</a></td>
           <td>{{m.nome_composicao}}</a></td>
           <td>{{m.duracao_musica}}</a></td>
           <td><button class = " button2">x</button></td>

         </tr>
         {% endfor %}
         
 
       </tbody>
     
      </table>
    

    {% endblock %}


</body>


