body{
    background-color: #484d50;
        
}

.pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
    padding-top: 5%;
    padding-bottom: 10%;
    
}

.container {
    background-color: #ffcdd2;
}

.socorro
{
    background-color: #ffcdd2;
    margin-left: auto;
    margin-right: auto;
}



