body{
    background-color: #484d50;
            
}

.pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
    padding-top: 5%;
    padding-bottom: 10%;
    
}
.container {
    background-color: #ffcdd2 ;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.socorro{
    margin-left: auto;
    margin-right: auto;
    background-color:#ffcdd2 ;
}


/*NAVBAR STYLE*/
.topnav {
    background-color: #484d50;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #484d50;
    color: white;
  }
  

td {
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
}

table,th, td {
    padding: 15px;
    color:white;
}

#t01 {
    width: 100%;
    background-color: #484d50;
  }







