body{
    background-color: #484d50;
    margin: 0px;
    padding: 0px;
            
}


/* Styling the main page */

.homegreeting {
  color: white;
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
    padding-top: 5%;
    padding-bottom: 10%;
    max-width: 100%;
    
}

.button3 {background-color: #484d50;}

/* Guarda imagem e o formulário */

.container {
  background-color: #ffcdd2 ;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;

}



.containerpai{
  margin-left: auto;
  margin-right: auto;
  background-color:#ffcdd2 ;
}


/*NAVBAR STYLE*/
.topnav {
    background-color: #484d50;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #484d50;
    color: white;
  }
  

/*Styling the table PLAYLISTS*/

th,td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    color: white;
}

table,th, td {
    padding: 15px;
    color:white;
}

#t01 a
{
    display:block;
    text-decoration:none;
    color: white;
}

#t01 {
    width: 100%;
    background-color: #484d50;
  }

tr:hover {background-color:#cccccc;}


/* Styling the button CRIAR PLAYLIST*/

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {background-color: #ffcdd2;}

/* Estilizando a página criar nova playlist */


.input
{
  background-color: #484d50 ;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;

}

.input2
{
  background-color: #484d50 ;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;

}


.inputtitle
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 30px;
}

.input1title
{
  color: white;
  
}

.input2title
{
  color:white;
}


.inputs
{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


/*LOGIN */ 
.button4 {background-color: #ffcdd2;}



/* Estilizando a página da playlist individual */

.button2
{
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #c4c4c4 ;
  border: 1px solid #c4c4c4;
  

}

.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;

}
.flexbox > div {
  margin: 10px;
}

.button5 {
  background-color: #ffcdd2;
  margin: 250px 20px 4px 30px;
}


.pinksquare{
  border: none;
  background-color: #ffcdd2;
  padding: 20px 20px;
  width: 35%;
  margin: 30px 0px 0px 30px;
  max-width: 100%;
}


/* Estilizando album individual */









